*~
*log
*.o
*.a
*.2dMat
*.aux
*.tex
*.dat
/POSTPROCESSING
/bin
/obj
/src/H/sicherung
/src/C/obsolete
log.plotScript
/SAVE
/versuche
/case/Hatom/dualPotential.cpp.save
/case/Hatom/dualPotential.h
/case/Hatom/meat2.h
*.so
ksdft++
plotScript.sh
*.gnu
*.pdf
texcaller/
tee
case/Hatom/thePotential.cpp
./run.sh
release_*
log*
src/C/dualPotential.cpp
./cleanup.sh
run.sh
cbp2make.linux-x86_64
cleanup.sh
inputFile.param

